/node_modules/
/dist
/plugin/**/*.js
/plugin/**/*.js.map
/plugin/**/*.d.ts
/plugin/**/*.js
/plugin/**/*.js.map
/plugin/**/*.d.ts
/workspace
/bngine-workspace
/uploads
bcms.db.json
/logs
/log
*.log

/tsconfig.backend.tsbuildinfo

.env

.DS_Store
